.quote{
    margin-top: 0.5em !important;
    @media (max-width:650px){
      gap:0em!important;
    }
    q{
      padding:0.5rem;
    }
    h4{
    margin-top:0;
    }
    p{
      font-size:1rem;
      margin-bottom: 0.3rem;
      @media (max-width:650px){
        font-size:1.05rem;
        }
    }
  }
  dt{
    font-size:1rem;
    @media (max-width:650px){
      font-size:1.05rem!important;
      }
  }
  h4{
    margin-bottom:0!important;
  }
  p.kome{
    font-size:1rem;
    @media (max-width:650px){
      font-size:1.05rem!important;
      }
  }