/* 流れ星 */
.shooting-star {
  position: absolute;
  height: 2px;
  background: linear-gradient(45deg, white, rgba(255, 255, 255, 0));
  opacity: 1;
  animation: shooting linear forwards;
}

/* 流れ星のアニメーション */
@keyframes shooting {
  from {
    opacity: 1;
  }
  to {
    top: 50%;
    left: 0%;
    opacity: 0;
  }
}